.paginas{
    border-radius: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 115px;
    height: 115px;
}

.paginas:hover{
    background-color: #e6e6e6;
    color: black;
}

.foto-pag{
    margin-top: 15px;
    background-color: #f8f8f8;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.foto{
    margin-top: 11px;
    margin-left: 11px;
    width: 24px;
    height: 24px;
}

.nome-pag{
    color: black;
    font: 15px Arial;
    margin: 10px;
    text-align: center;
}